/*
 fonts
*/

body {
	font:$small-font $body-fonts;
	color:$primary-color;
}


h1, h2, h3, h4, h5, h6 {
	font:$large-font $heading-fonts;
	color:$secondary-color;
}

h1 {
	font:$large-font $heading-fonts;
	color:$accent-color;
}
h2 {
	font:$medium-font $heading-fonts;
	color:$accent-color;
}