/*
 * Variables
*/

/* Font Stacks */
$body-fonts: sans-serif;
$heading-fonts: serif;

$small-font:	#{14px}/ #{20px};
$medium-font:	#{18px}/ #{24px};
$large-font: 	#{22px}/ #{28px};


$primary-color:#000;
$secondary-color:#777;
$secondary-color:#777;
$accent-color:#777;
