/*
 * footer
*/
// .footer
.footer {
	position: absolute;
	//height: 280px;
	width: 100%;
	bottom: 0;
	background-color:$gold;
	font-size: 14px;
	line-height: 18px;
	.container {
		padding-top: 30px;
		padding-bottom: 30px;
	}
	ul {
		list-style:none;
		padding:0px;
		margin:0px;
		li {}
	}
	#footer-left {
		padding-left:0px;
	}
	#footer-center {
		padding-left:0px;
		padding-right:0px;
	}
	#footer-center-col-1 {}
	#footer-center-col-2 {}
	#footer-center-col-3 {}
	#footer-center-col-4 {}
	#footer-right {
		padding-left:0px;
	}
	.footer-branding {
		float:none;
		margin:0px auto 20px;
		width:230px;
		height:36px;
		.logo-bw {
			display: inline-block;
			text-decoration:none;
			float:left;
			img {
				vertical-align:bottom;
				border:0;
				width: 36px;
				height: auto;
			}
		}
		.name {
			width:180px;
			display: inline-block;
			float:left;
			text-decoration:none;
			color: $black;
			margin:2px 0px 2px 10px;
			.site-name {
				font-size: 24px;
				line-height: 24px;
				font-weight:$bold;
				color:inherit;
				display:block;
			}
			.site-slogan {
				font-size: 12px;
				line-height: 12px;
				font-weight:$light;
				text-transform:uppercase;
				color:inherit;
				display:block;
			}
		}
	}
	a,
	p,
	li {
		color:#000;
	}
}

// Media Queries //////////

// Mobile 
// max-width: 767px;
@media (max-width: 767px) {

}

// Tablet Portrait 
// min-width: 768px; and max-width: 991px;
@media (min-width: 768px) and (max-width: 991px) {

}

// Tablet Landscape / Medium Desktop
// min-width: 992px; and max-width: 1199px;
@media (min-width: 992px) and (max-width: 1199px) {

}

// Large Desktop
// min-width: 1200px;
@media (min-width: 1200px) {

}

// Print
@media print {

}