/*
 * footer
*/
// .footer
.footer {
	position: absolute;
	//height: 280px;
	width: 100%;
	bottom: 0;
	background-color:$gold;
	font-size: 14px;
	line-height: 18px;
	@media screen and (max-width: 992px) {position:relative;}
	.container {
		padding-top: 30px;
		padding-bottom: 30px;
		@media screen and (max-width: 767px) {padding:15px;}
		.block {
			@media screen and (max-width: 767px) {padding:0px;}
		}
	}
	ul {
		list-style:none;
		padding:0px;
		margin:0px;
	}
	#footer-left {
		padding-left:0px;
		@media screen and (max-width: 768px) {padding:0px;margin-bottom:15px;}
	}
	#footer-right {
		padding-left:0px;
		padding-right:0px;
		@media screen and (max-width: 767px) {padding:0px;margin-bottom:15px;}
		> div {
			@media screen and (max-width: 768px) {margin-bottom:0px;}
			@media screen and (max-width: 767px) {padding-left:0px; padding-right:0px;}
		}
	}
	
	.footer-branding {
		float:left;
		margin:5px 0px 10px 0px;
		.logo-bw {
			display: inline-block;
			text-decoration:none;
			float:left;
			img {
				vertical-align:bottom;
				border:0;
				width: 36px;
				height: auto;
			}
		}
		.name {
			width:180px;
			display: inline-block;
			float:left;
			text-decoration:none;
			color: $black;
			margin:2px 0px 2px 10px;
			@media screen and (max-width: 1024px) {
				width:160px;
			}
			.site-name {
				font-size: 24px;
				line-height: 24px;
				font-weight:$bold;
				color:inherit;
				display:block;
			}
			.site-slogan {
				font-size: 12px;
				line-height: 12px;
				font-weight:$light;
				text-transform:uppercase;
				color:inherit;
				display:block;
			}
		}
	}
	.region-footer-left {
		float:left;
	}
	a, p, li {color:#000;}
}