/*
 * footer
*/
// .footer
.footer {
	position: relative;
	height: 280px;
	width: 100%;
	bottom: 0;
	background-color:$gold;
	.container {
		padding-top: 20px;
		padding-bottom: 20px;
	}
	#footer-l {
		padding-left:0px;
	}
	#footer-c-l {}
	#footer-c-r {}
	#footer-r {
		padding-right:0px;
	}
}

// Media Queries //////////

// Mobile 
// max-width: 767px;
@media (max-width: 767px) {

}

// Tablet Portrait 
// min-width: 768px; and max-width: 991px;
@media (min-width: 768px) and (max-width: 991px) {

}

// Tablet Landscape / Medium Desktop
// min-width: 992px; and max-width: 1199px;
@media (min-width: 992px) and (max-width: 1199px) {

}

// Large Desktop
// min-width: 1200px;
@media (min-width: 1200px) {

}

// Print
@media print {

}