/*
 * Header
*/

#header {}
#header-main {
	padding-left:0px;
	padding-right:0px;
	padding-top:10px;
	padding-bottom:10px;
}
#header-main .logo {}
#header-main .logo img {}
#header-main .name {
	display: block;
	line-height: 60px;
	font-size: 20px;
	padding-left: 5px;
	float: left;
	color: #555;
	text-decoration:none;
}


// Media Queries //////////

// Mobile 
// max-width: 767px;
@media (max-width: 767px) {

}

// Tablet Portrait 
// min-width: 768px; and max-width: 991px;
@media (min-width: 768px) and (max-width: 991px) {

}

// Tablet Landscape / Medium Desktop
// min-width: 992px; and max-width: 1199px;
@media (min-width: 992px) and (max-width: 1199px) {

}

// Large Desktop
// min-width: 1200px;
@media (min-width: 1200px) {

}

// Print
@media print {

}