/*
 * Main
*/

// .page-header
.page-header {
	border:0;
	padding-bottom:0px;
	margin:20px 0px;
}

// .main-container
.main-container {
	border-bottom:10px solid #ccc;
	min-height:320px;
	padding-bottom:20px;
}

// .breadcrumb
.breadcrumb {
	border-radius:0px 0px 5px 5px;
}

// .submitted
.submitted {
	margin-bottom:10px;
}


// Media Queries //////////

// Mobile 
// max-width: 767px;
@media (max-width: 767px) {

}

// Tablet Portrait 
// min-width: 768px; and max-width: 991px;
@media (min-width: 768px) and (max-width: 991px) {

}

// Tablet Landscape / Medium Desktop
// min-width: 992px; and max-width: 1199px;
@media (min-width: 992px) and (max-width: 1199px) {

}

// Large Desktop
// min-width: 1200px;
@media (min-width: 1200px) {

}

// Print
@media print {

}