/*
 * Nav
*/

a:hover, 
a:focus {
	color: #2a6496;
	text-decoration: underline;
}

.nav > li > a {
	&:hover, &:focus {
		background-color:transparent;
	}
}

.navbar-default .navbar-nav > .active > a, 
.navbar-default .navbar-nav > .active > a:hover, 
.navbar-default .navbar-nav > .active > a:focus {
	background-color:transparent;
}

.navbar-default {
	background-color:transparent;
	border:0;
	border-radius:0;
}

.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
	border:0;
	border-color:transparent;
}


#primary-nav .nav > li > a {
	font-weight:$light;
	font-size:18px;
}

/*
 Media Queries
 ===================================================================================================
*/

/* 
 Mobile 
 max-width: 767px;
*/
@media (max-width: 767px) {

}

/* 
 Tablet Portrait
 min-width: 768px; and max-width: 991px;
*/
@media (min-width: 768px) and (max-width: 991px) {

}

/* 
 Tablet Landscape / Medium Desktop
 min-width: 992px; and max-width: 1199px;
*/
@media (min-width: 992px) and (max-width: 1199px) {

}

/* 
 Large Desktop
 min-width: 1200px;
*/
@media (min-width: 1200px) {

}

/* 
 Print 
*/
@media print {

}