/*
 * Nav
*/

// Links
a:hover, 
a:focus {
	color: #2a6496;
	text-decoration: underline;
}

// Navigation Defaults
.nav > li > a {
	&:hover, &:focus {
		background-color:transparent;
	}
}
li.dropdown:hover > .dropdown-menu {
	display:block;
}

// Primary Menu
#primary-nav {
	background-color:#ebebeb;
	padding-left:0px;
	padding-right:0px;
	border:0;
	border-radius:5px 5px 0px 0px;
	margin-bottom:0px;
	
	.navbar-collapse,
	.navbar-form {
		padding-left:0px;
		padding-right:0px;
		border:0;
		border-color:transparent;
	}
	.nav > li {
		padding-top:10px;
		padding-bottom:10px;
	}
	.nav > li > a {
		font-weight:$light;
		font-size:18px;
		padding:5px 30px;
		border-right:1px solid #C4C4C4;
	}
	.nav > li.last > a {
		border:0;
	}
	.nav > li.active a, 
	.nav > li.active a:hover, 
	.nav > li.active a:focus {
		background-color:transparent;
	}
}

// Dropdown

.dropdown-menu {
	background-color:#ebebeb;
	border:0;
	
	> .active a,
	> .active a:hover,
	> .active a:focus {
		background-color:transparent;
		color:#555;
	}
	
}




// Navigation Toggle Button
button.navbar-toggle {
	float: left;
	border-color: transparent;
	padding: 0px 20px;
	margin: 0px;
	z-index: 100;
	height: 41px;
	width: 100%;
	border-radius: 0;
	border: 0;
	
	.menu-title {
		float: left;
		font-size: 20px;
		line-height: 18px;
		text-transform: uppercase;
		padding-left: 30px;
	}
	
	.icon-bar {
		background-color: #555;
		width: 24px;
		height: 4px;
		border-radius: 5px;
	}
}

// Nav Tabs
.nav-tabs-container {
	margin-bottom: 20px;
	
	ul.nav-tabs {
		li {
			a {}
		}
	}
}

/*
 Media Queries
 ===================================================================================================
*/

/* 
 Mobile 
 max-width: 767px;
*/
@media (max-width: 767px) {

}

/* 
 Tablet Portrait
 min-width: 768px; and max-width: 991px;
*/
@media (min-width: 768px) and (max-width: 991px) {

}

/* 
 Tablet Landscape / Medium Desktop
 min-width: 992px; and max-width: 1199px;
*/
@media (min-width: 992px) and (max-width: 1199px) {

}

/* 
 Large Desktop
 min-width: 1200px;
*/
@media (min-width: 1200px) {

}

/* 
 Print 
*/
@media print {

}