/*
 * Nav
*/

// a
a:hover, 
a:focus {
	color: #2a6496;
	text-decoration: underline;
}

// navbar-nav 
.navbar-nav {
	margin:0px;
}

// .nav
.nav > li > a {
	&:hover, &:focus {
		background-color:transparent;
	}
}
li.dropdown:hover > .dropdown-menu {
	display:block;
}

// .dropdown
.dropdown-menu {
	width:auto;
	background-color:transparent;
	border:0;
	box-shadow:none;
	border-radius:0;
	z-index:0;
	> li > a {}
	> li > a:hover,
	> li > a:focus,
	> li.active > a,
	> li.active > a:hover,
	> li.active > a:focus {}
}

// #primary-nav
#primary-nav {
	padding-left:0px;
	padding-right:0px;
	border:0;
	margin-bottom:0px;
	background-color:transparent;
	@media screen and (max-width: 767px) {
		min-height:inherit;
		height:inherit;
		min-height:inherit;
		width:100%;
		background-color:$orange;
		background-color:$gold;
	}
	@media screen and  (max-width: 550px) {
		.navbar-collapse {
			width:100%;
			text-align:left;
			li {
				padding:10px;
			}
		}
	}
	.navbar-collapse,
	.navbar-form {
		padding-left:0px;
		padding-right:0px;
		border:0;
		border-color:transparent;
		float:right;
	}
	nav.pull-right {float:none!important;}
	.nav > li {}
	.nav {
		> li {
			padding:15px 30px;
			> a {
				font-size:20px;
				line-height:20px;
				font-weight:$regular;
				color:$black;
				padding:0px;
				&:focus,
				&:active,
				&:hover {color:$black;}
				@media screen and (max-width: 768px) {
					font-size:18px;
				}
			}
			&.last {
				padding-right:15px;
			}
			&:hover,
			&:focus,
			&:active {}
			&.active a,
			&.active-trail a {
				background-color:transparent;
				font-weight:$bold;
			}
		}
	}
	.dropdown-menu {
		width:auto;
		border:0;
		z-index: 10000;
	}
}

// #secondary-menu
#secondary-nav {
	.nav {
		float:right;
		> li {
			> a {
				padding-left:10px;
				padding-right:10px;
				
				&:focus,
				&:hover {}
				&:active {}
			}
		}
	}
}

// .block-menu
.block-menu {
	.nav {
		> li {
			> a {
				padding:0px;
				display:block;
				color:#333;
				&:focus,
				&:hover {
					color:#555;
				}
			}
		}
	}
	.dropdown-menu {
		position:relative;
		width:100%;
		display:block;
		margin:0px;
		padding-left:20px;
		border:0;
		
		> li {
			> a {
				padding:0px;
				display:block;
				white-space:normal;
				&:hover, 
				&:focus,
				&:active {
					background-color:transparent;
					color: #555;
				}
			}
		}
	}
	.dropdown-menu > .active > a, 
	.dropdown-menu > .active > a:hover, 
	.dropdown-menu > .active > a:focus {
		background-color:transparent;
		color:inherit;
	}
}
.nav .open > a, 
.nav .open > a:hover, 
.nav .open > a:focus {
	background-color:$blue;
}
// .navbar-toggle
.navbar-default button.navbar-toggle {
	position:absolute;
	float: none;
	border-color: transparent;
	padding: 0px 20px;
	margin: 0px;
	z-index: 100;
	height: 50px;
	width: 100%;
	border-radius: 0;
	border: 0;
	width:auto;
	top:-65px;
	right:0px;
	
	.menu-title {
		float: left;
		font-size: 20px;
		line-height: 18px;
		text-transform: uppercase;
		padding-left: 30px;
	}
	
	.icon-bar {
		background-color: #555;
		width: 24px;
		height: 4px;
		border-radius: 5px;
	}
}

// .nav-tabs
.nav-tabs-container {
	margin-bottom: 20px;
	@media screen and  (max-width: 767px) {margin:0px;}
	ul.nav-tabs {
		li {
			a {}
		}
	}
}

// .breadcrumb
.breadcrumb {
	border-radius:0px 0px 5px 5px;
	margin-bottom:10px;
}

// .read-more
.read-more {
	margin:10px 0px;
	a, 
	a.views-more-link {
		font-family:$fontCondensed;
		display:block;
		text-transform: uppercase;
		font-size: 16px;
		line-height: 16px;
		text-decoration:none;
		color:$orange;
		&:after {
			content:"\bb";
			position:relative;
			margin: 0px 0px 0px 5px;
			font-size: 20px;
			line-height: 0px;
			text-decoration:none;
		}
	}
	a:hover, a:focus {
		color: $gold;
		text-decoration: none;
	}
}
.views-more-link {
	font-family:$fontCondensed;
	text-transform: uppercase;
	font-size: 16px;
	line-height: 16px;
	text-decoration:none;
	color:$orange;
	&:after {
		content:"\bb";
		position:relative;
		margin: 0px 0px 0px 5px;
		font-size: 20px;
		line-height: 0px;
		text-decoration:none;
	}
	&:hover,
	&:focus {
		color: $gold;
		text-decoration: none;
	}
}

// h1 a, h2 a, h3 a, h4 a, h5 a, h6 a, h7 a,
h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
	text-decoration:none;
	color:inherit;
	
	&:hover,
	&:focus {
		text-decoration:none;
		color:$gold;
	}
}
.footer {
	.block-menu {
		.dropdown-menu {
			padding:0px;
			> li {
				margin:5px 0px;
				a {
					@media screen and (max-width: 768px) {
						display:inline;
					}
				}
			}
		}
		.nav > li > a {
			font-weight:$bold;
			@media screen and (max-width: 768px) {
				display:inline;
			}
		}
		li {
			margin:5px 0px;
		}
		a {
			display:block;
			background-color:transparent;
			white-space:normal;
			font-size: 14px;
			line-height: 14px;

		}
		.dropdown-menu > li > a:hover, 
		.dropdown-menu > li > a:focus {
			background-color:transparent;
		}
	}
}

// .primary-sidebar 
#primary-sidebar {
	.block-menu {
		margin-right:-15px;
		ul.menu {
			> li {
				padding:0px;
				margin:0px;
				> a {
					color:$white;
					font-size:16px;
					line-height:20px;
					padding:10px 10px 10px 10px;
					border-bottom:1px solid $white;
					@media screen and (max-width: 768px) {min-height: 42px;}
					@media screen and (max-width: 767px) {}
				}
				> ul.dropdown-menu {
					padding:0px;
					margin:0px;
					> li {
						padding:0px;
						margin:0px;
						display:block;
						position:relative;
						> a {
							color:$white;
							font-size:16px;
							line-height:20px;
							padding:10px 10px 10px 10px;
							border-bottom:1px solid $white;
							@media screen and (max-width: 767px) {}
						}
					}
				}
				
				&.active {
					> a {
						font-weight:$bold;
						background-color:transparent;
						border-right: 5px solid #fff;
					}
				}
			}
		}
	}
	a:hover, 
	a:focus,
	a:active {
		background-color:transparent;
	}
	a.btn {
		background-color:$orange;
		border-color:$gold;
	}
	a.btn:hover,
	a.btn:focus,
	a.btn:active {
		background-color:$gold;
	}
	.dropdown-menu > .active-trail > a, 
	.dropdown-menu > .active > a, 
	.dropdown-menu > .active > a:hover, 
	.dropdown-menu > .active > a:focus {
		font-weight:$bold;
		background-color:transparent;
		border-right: 5px solid #fff;
	}
}

// .nav-tabs
.nav-tabs {
	margin:10px 0px;
}

// .pagination 
ul.pagination {
	> li {
		> a,
		> span {
			position: relative;
			float: left;
			padding: 6px 12px;
			margin-left: -1px;
			line-height: 1.42857143;
			color: $orange;
			text-decoration: none;
			background-color: #fff;
			border: 1px solid $gold;
		}
		> a:hover,
		> a:focus,
		> span:hover,
		> span:focus {
			color: white;
			background-color: $orange;
			border-color: $gold;
		}
	}
	> .active {
		> a,
		> span,
		> a:hover,
		> span:hover,
		> a:focus,
		> span:focus {
			z-index: 2;
			color: #fff;
			cursor: default;
			background-color: $orange;
			border-color: $gold;
		}
	}
}


// Media Queries //////////

// Mobile 
// max-width: 767px;
@media screen and  (max-width: 767px) {

}

// Tablet Portrait 
// min-width: 768px; and max-width: 991px;
@media screen and  (min-width: 768px) and (max-width: 991px) {

}

// Tablet Landscape / Medium Desktop
// min-width: 992px; and max-width: 1199px;
@media screen and  (min-width: 992px) and (max-width: 1199px) {

}

// Large Desktop
// min-width: 1200px;
@media screen and  (min-width: 1200px) {

}

// Large Desktop
// min-width: 1200px;
@media screen and  (max-width: 1199px) {
	#primary-nav {
		.nav {
			> li {
				padding:15px 22px;
			}
		}
	}
}
@media screen and  (max-width: 992px) {
	#primary-nav .nav > li {
		padding: 15px 10px;
	}
}


// Print
@media print {

}