/*
 Fonts
*/

// Font Stacks
@import url('http://fonts.googleapis.com/css?family=Ubuntu:300,400,500,700,300italic,400italic,500italic,700italic|Ubuntu+Condensed|Merriweather:400,300italic,400italic,300');
$font: 'Ubuntu', sans-serif;
$fontCondensed: 'Ubuntu Condensed', sans-serif;
$fontAlt: 'Merriweather', serif;

// Font weights
$light: 300;
$regular: 400;
$medium: 500;
$bold: 700;

// Global Elements
body, h1, h2, h3, h4, h5, h6, p {
	font-family:$font;
	color:$greyBlue;
}

body {
	font-size:20px;
	line-height:35px;
	font-weight:$light;
}

h1, h2, h3, h4, h5, h6, p {
	margin-bottom:15px;
}

h1 {
	font-size:50px;
	line-height:50px;
	font-weight:$light;
}
h2 {
	font-size:30px;
	line-height:45px;
	font-weight:$bold;
}
h3 {
	font-weight:$bold;
}
h4 {
	font-weight:$bold;
}
h5 {
	font-weight:$bold;
}
h6 {
	font-weight:$bold;
}

// .title
h2.title {}

h3.title {
	font-weight:$regular;
}

// .block-title 
.block-title {
	margin:0px 0px 10px 0px;
}
.footer .block-title {
	font-size:18px;
	line-height:18px;
	font-weight:$bold;
}

// body.teaser
.body.teaser {
	margin:10px 0px;
	
	p {
		margin-top:0px;
	}
}

// .date
.date {
	font-family:$fontCondensed;
	font-size:14px;
	line-height:14px;
}

// .user-title
.user-title {
	font-family:$fontCondensed;
	font-size:14px;
	line-height:14px;
}

// .author 
.author-info {
	text-align:right;
	font-size: 12px;
	line-height: 14px;
	font-style: italic;
}




// Media Queries //////////

// Mobile 
// max-width: 767px;
@media (max-width: 767px) {}

// Tablet Portrait 
// min-width: 768px; and max-width: 991px;
@media (min-width: 768px) and (max-width: 991px) {}

// Tablet Landscape / Medium Desktop
// min-width: 992px; and max-width: 1199px;
@media (min-width: 992px) and (max-width: 1199px) {}

@media(max-width:1024px) {}

// Large Desktop
// min-width: 1200px;
@media (min-width: 1200px) {}

// Print
@media print {

}
