/*
 Fonts
*/

// Font Stacks
@import url('http://fonts.googleapis.com/css?family=Ubuntu:300,400,500,700,300italic,400italic,500italic,700italic|Ubuntu+Condensed');
$font: 'Ubuntu', sans-serif;
$fontCondensed: 'Ubuntu Condensed', sans-serif;

// Font weights
$light: 300;
$regular: 400;
$medium: 500;
$bold: 700;

// Global Elements
body, h1, h2, h3, h4, h5, h6 {
	font-family:$font;
	color:#333;
}

body {
	font-size:14px;
	line-height:20px;
}

h1, h2, h3, h4, h5, h6 {
	font-weight:300;
}

h1 {}

h2 {}

h3 {}

h4 {}

h5 {}

h6 {}

// .title
h3.title {
	font-weight:$regular;
}

// body.teaser
.body.teaser {
	margin:10px 0px;
}

// .date
.date {
	font-family:$fontCondensed;
	font-size:14px;
	line-height:14px;
}

// .user-title
.user-title {
	font-family:$fontCondensed;
	font-size:14px;
	line-height:14px;
}

// Media Queries //////////

// Mobile 
// max-width: 767px;
@media (max-width: 767px) {

}

// Tablet Portrait 
// min-width: 768px; and max-width: 991px;
@media (min-width: 768px) and (max-width: 991px) {

}

// Tablet Landscape / Medium Desktop
// min-width: 992px; and max-width: 1199px;
@media (min-width: 992px) and (max-width: 1199px) {

}

// Large Desktop
// min-width: 1200px;
@media (min-width: 1200px) {

}

// Print
@media print {

}
