/*
 * Menus
*/

// .alerts
.alert {
	padding:10px;
	color:#333;
	margin:10px 0px;
}

.alert-success {
	@extend .alert;
}
.alert-danger {
	@extend .alert;
}
.alert-warning {
	@extend .alert;
}

//.btn
.btn-primary {
	color: #fff;
	background-color: $orange;
	border-color: $gold;
	&:hover, 
	&:focus, 
	&:active, 
	&.active {
		background-color: $gold;
		border-color: $orange;
	}
}


// .image
.image {}
.image.circle {
	border-radius: 50%;
	overflow: hidden;
	margin: 0 auto;
}
.image img{
	width:100%;
	height:auto;
}
.image.logo {
	img {
		width:auto;
		max-width:100%;
	}
}

// .block
.block {
	margin-bottom:20px;
}

// .node-webform {}
.node-webform {
	.webform-component {
		margin-bottom:15px;
	}

}

.element-invisible {
	position: absolute !important;
	clip: rect(1px 1px 1px 1px);
	clip: rect(1px, 1px, 1px, 1px);
	overflow: hidden;
	height: 0px;
}

.preload { opacity: 0; position: absolute; top: -9999px; left: -9999px; }

legend.panel-heading {float:left;}