/*
 * Menus
*/

// .alerts
.alert {
	padding:10px;
	color:#333;
	margin:10px 0px;
}

.alert-success {
	@extend .alert;
}
.alert-danger {
	@extend .alert;
}
.alert-warning {
	@extend .alert;
}

// .image
.image {}
.image.circle {
	border-radius: 50%;
	overflow: hidden;
	margin: 0 auto;
}
.image img{
	width:100%;
	height:auto;
}
.image.logo {
	img {
		width:auto;
		max-width:100%;
	}
}

// .block
.block {
	margin-bottom:20px;
}


// Media Queries //////////

// Mobile 
// max-width: 767px;
@media (max-width: 767px) {

}

// Tablet Portrait 
// min-width: 768px; and max-width: 991px;
@media (min-width: 768px) and (max-width: 991px) {

}

// Tablet Landscape / Medium Desktop
// min-width: 992px; and max-width: 1199px;
@media (min-width: 992px) and (max-width: 1199px) {

}

// Large Desktop
// min-width: 1200px;
@media (min-width: 1200px) {
	.image.circle {
		max-width: 200px;
	}
}

// Print
@media print {

}