/*
 * Views
*/

// .views
.view {
	h3 {
		margin:0px;
	}
	.views-row {}
	.item {
		padding-bottom:30px;
	}
	.body {
		margin-top:10px;
	}
}
.block {
	margin:0px;
}

// #view-frontpage-carousel-slider
#view-frontpage-carousel-slider {margin:0px;}
.view-frontpage-carousel {
	position:relative;
	height: 1000px;
	.slider-content {
		position: absolute;
		width: 100%;
		height: 1000px;
		overflow: hidden;
		z-index:1;
		.slide-image {
			position: absolute;
			top: 0px;
			left: 0px;
			width: 100%;
			z-index: 0;
			img {
				width:100%;
				height:auto;
			}
		}
		.slide-title-container {
			position: absolute;
			z-index: 5;
			padding-top: 220px;
			width: 100%;
			h2.slide-title {
				font-size:50px;
				line-height:50px;
				font-weight:$regular;
				margin:0px;
				padding:0px;
				color:$white;
				text-align:center;
				text-shadow:1px 1px 1px $black;
				a {
					display:block;
					font-size:inherit;
					line-height:inherit;
					font-weight:inherit;
					color:inherit;
				}
			}
		}
	}
	.attachment {
		position:relative;
		top:0px;
		left:0px;
		z-index:2;
		padding-top:280px;
		.view-frontpage-carousel {
			height:auto;
			ul.slide-nav {
				list-style:none;
				padding:0px;
				margin-top:0px;
				margin-bottom:0px;
				margin-left: -10px;
				margin-right: -10px;
				li {
					float:left;
					width:25%;
					padding:10px;
					cursor:pointer;
					&.active {
						.slide-icon img {
							top:0px;
						}
					}
				}
			}
		}
		.slide-content {
			position:relative;
			padding:15px;
			border-radius:5px;
			background-color:$trans;
			min-height:345px;
			border: 5px solid $transParent;
			.slide-icon {
				position: relative;
				width: 104px;
				height: 101px;
				overflow: hidden;
				margin: 0 auto;
				img {
					position:absolute;
					top: -101px;
				}
				
			}
			.slide-body {
				margin:10px 0px;
				font-size:16px;
				line-height:18px;
				font-weight:$bold;
				p {
					font-size:16px;
					line-height:18px;
					margin:0px;
					font-weight:$bold;
				}
			}
			.slide-quote {
				margin:10px 0px;
				font-size:16px;
				line-height:24px;
				p {
					font-size:16px;
					line-height:24px;
					margin:0px;
				}
			}
			.slide-link {
				position:absolute;
				bottom:10px;
				a {
					font-size:16px;
					line-height:18px;
					font-weight:$bold;
					float:left;
					&:after {
						content:"\bb";
						display:block;
						position:relative;
						float:left;
					}
				}
			}
		}
		li.item-0.active .slide-content {
			background-color:$transDark;
			border: 5px solid $magenta;
		}
		li.item-1.active .slide-content {
			background-color:$transDark;
			border: 5px solid $blue;
		}
		li.item-2.active .slide-content {
			background-color:$transDark;
			border: 5px solid $green;
		}
		li.item-3.active .slide-content {
			background-color:$transDark;
			border: 5px solid $orange;
		}
	}
}

// .client-carousel
.view-client-carousel {
	border-top: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
	padding-top: 15px;
	padding-bottom: 15px;
	
	.view-header {
		margin-bottom:10px;
		
		p {
			text-align:center;
			font-size:15px;
			line-height:15px;
		}
	}
	.view-content {
		.views-row {
			.logo {
				display:table;
				height:85px;
				margin:0 auto;
				
				> div {
					display:table-cell;
					vertical-align:middle;
				}
				a {
					display:block;
				}
			}
		}
	}
	.content-slider-control {
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		width: auto;
		font-size: 20px;
		color: #fff;
		text-align: center;
		text-shadow: 0 1px 2px rgba(0, 0, 0, .6);
		filter: alpha(opacity=50);
		opacity: .5;
		
		&.left {
			left: -30px;
		}
		&.right {
			right: -30px;
			left:inherit;
		}
		
		.icon-next,
		.icon-prev {
			color: #e7e7e7;
			width: 30px;
			height: 30px;
			margin-top: -15px;
			margin-left: -15px;
			font-size: 30px;
			position: absolute;
			top: 50%;
			z-index: 5;
			display: inline-block;
		}
		.icon-next:before {
			content: '\203a';
		}
		.icon-prev:before {
			content: '\2039';
		}
	}
}

// .view-news 
.view-news {
	margin-top:20px;
	
	.views-row {
		margin:0px 0px 20px 0px;
		padding:0px 0px 20px 0px;
		border-bottom:5px solid #ccc;
		
		&.views-row-last {
			border-bottom:0;
		}
		.item {}
	}
}

// .view-services 
#block-view-services-services-block {
	margin-top:100px;
}
.view-services {
	margin-top:20px;
	.view-content {
		.item {
			text-align:left;
			min-height:380px;
			h3.title {
				font-size:16px;
				line-height:25px;
				font-weight:$bold;
				color:$orange;
				
				a {
					font-size:inherit;
					line-height:inherit;
					font-weight:inherit;
					color:inherit;
				}
			}
			.body.teaser {
				font-size:16px;
				font-size:16px;
				line-height:25px;
				font-weight:$light;
				p {
				
				}
			}
			.read-more {
				display:inline;
				a {
				
				}
			}
		}
	}
}

// .view-our-team 
.view-our-team {
	margin-top:20px;
	
	.view-content {
		.item {
			min-height:320px;
			.user-image {
				padding-left:0px;
			}
			.user-content {
				padding-right:0px;
				padding-left:0px;
			}
		}
	}
}


// .view-testimonials-block
.view-testimonials-block {
	.carousel {
		.carousel-inner {
			.item {
				padding:20px;
				min-height:240px;
				.body-teaser {
					margin-top:0px;
				}
				.author-info {
					span div {
						display:inline;
					}
				}
			}
		}
		.carousel-controls-container {
			position:relative;
			height:20px;
			background-color:#999;
			
			.carousel-control {
				top:0px;
				background-image:none;
				background-repeat:no-repeat;

				&.left {}
				&.right {}
				
				.icon-prev,
				.icon-next {
					top:0px;
					height:20px;
					width:20px;
					margin:0px;
					font-size:20px;
				}
				.icon-prev {
					left:0px;
				}
				.icon-next {
					right:0px;
				}
			}
			#carousel-indicators {
				.carousel-indicators {
					bottom:inherit;
					top:0px;
					margin-top:0px;
					margin-bottom:0px;
					li {}
					li.active {}
				}
			}
		}
	}
}

// frontpage mision
.mission-container {
	.content {
		font-size:30px;
		line-height:50px;
		color:$gold;
		p {
			color:$gold;
			font-size:30px;
			line-height:50px;
			text-align:left;
		}
	}
}

// frontpage reasons
#reasons-content {
	.block-header {
		padding-right:50px;
		h2.block-title {
			font-size:30px;
			line-height:36px;
			font-weight:$bold;
			color:$darkBlue;
			text-align:center;
		}
	}
	.content {
		float:left;
		.indicator-container {
			position:relative;
			width:100%;
			margin-top:20px;
			.carousel-indicators {
				top:0px;
				bottom:initial;
			}
		}
		.item {
			padding:0px;
		}
		
		.view-top-ten-reasons {
			margin:0px -15px
		}
		.reason {
			
			.reason-left {
				padding-right:50px;
			}
			.reason-right {
				padding-left:50px;
			}
			.reason-header {
				border-top:1px solid $white;
				border-bottom:1px solid $white;
				padding:20px 0px;
			}
			.ribbon {
				height:50px;
				background-image:url("../images/ribbon.png");
				background-repeat:no-repeat;
				background-position:center center;
				font-family:$fontAlt;
				font-size:28px;
				line-height:40px;
				font-weight:300;
				color:$white;
				text-align:center;
			}
			.number {
				font-size:100px;
				line-height:100px;
				font-weight:$medium;
				font-style:italic;
				color:$transDark;
				text-align:center;
			}
			h4 {
				font-size:30px;
				font-weight:36px;
				font-weight:$medium;
				color:$white;
				text-align:center;
				a {
					color:inherit;
					
				}
			}
			.reason-quote {
				font-family:$fontAlt;
				font-size:40px;
				line-height:60px;
				font-weight:$light;
				font-style:italic;
				color:$white;
				p {
					color:$white;
				}
			}
			.reason-client {
				font-size:16px;
				line-height:22px;
				color:$white;
				p {
					color:$white;
				}
			}
		}
	}
}

// frontpage services
#services-content {
	.block-header {
		h2.block-title {
			font-size:50px;
			line-height:60px;
			font-weight:$regular;
			color:$white;
		}
	}
	.block {
		.view-content {
			padding:20px 40px;
		}
		.views-row {
			margin-bottom:40px;
			a {
				font-size:20px;
				line-height:20px;
				font-weight:$medium;
				color:$white;
				display:block;
				&:before {
					font-size:30px;
					line-height:15px;
					font-weight:$regular;
					display: block;
					position: relative;
					content: "\bb";
					left: 0px;
					float: left;
					padding-right: 20px;
				}
			}
		}
	}
}

// frontpage clients
#companies-content {
	.block-header {
		h2.block-title {
			font-size:20px;
			line-height:25px;
			font-weight:$bold;
			color:$black;
			text-align:center;
		}
	}
	.block {
		position:relative;
		.content {
			width:100%;
			position:relative;
			overflow:hidden;
			height:100px;
		}
		.view-content {
			position:absolute;
			left:0px;
			top:0px;
			height:100px;
			width:100%;
		}
		.client {
			float:left;
			display:inline-block;
			.logo {
				padding-left:20px;
				padding-right:20px;
				display:table;
				width: 100%;
				height:100px;
			}
			a {
				display:table-cell;
				vertical-align:middle;
				text-align:center;
			}
			img {
				display:block;
				width: 100%;
				height: auto;
				vertical-align:middle;
			}
		}
	}
	
	.slider-nav {
		position:aboslute;
		top:0px;
		left:0px;
		a {
			position:absolute;
			top:50%;
			margin-top:10px;
			font-size:20px;
			line-height:20px;
			font-weight:$bold;
		}
		a.prev {
			left:-20px;
		}
		a.next {
			right:-20px;
		}
	}
}


// .frontpage call to action 

#actions-content {
	.action {
		margin-bottom:50px;
		.action-icon {
			padding-right:0px;
		}
		.action-content {
			padding-left:0px;
		}
		h5.action-title {
			font-size:24px;
			line-height:30px;
			font-weight:$bold;
			margin:0px 0px 5px;
			a {
				color:inherit;
			}

			&.nid-159 {
				color:$green;
			}
			&.nid-160 {
				color:$magenta;
			}
			&.nid-161 {
				color:$blue;
			}
		}
		.action-body {
			font-size:20px;
			line-height:30px;
			color:$black;
			p {
				
			}
		}
		
		
		
		&:last-child{margin-bottom:0px;}
	}
}
// Media Queries //////////

// Mobile 
// max-width: 767px;
@media (max-width: 767px) {

}

// Tablet Portrait 
// min-width: 768px; and max-width: 991px;
@media (min-width: 768px) and (max-width: 991px) {

}

// Tablet Landscape / Medium Desktop
// min-width: 992px; and max-width: 1199px;
@media (min-width: 992px) and (max-width: 1199px) {

}

@media(max-width:1024px) {
	.carousel .carousel-controls-container .carousel-control,
	.content-slider .content-slider-container .content-slider-control {
		&.left {left: 10px!important;}
		&.right {right: 10px!important;}
	}
}


// Large Desktop
// min-width: 1200px;
@media (min-width: 1200px) {

}

// Large Desktop
// min-width: 1200px;
@media (max-width: 1199px) {
	.view-frontpage-carousel .slider-content .slide-title-container {
		padding-top:120px;
	}
	.view-frontpage-carousel .attachment {
		padding-top:180px;
	}
	.view-frontpage-carousel .attachment .slide-content .slide-quote,
	.view-frontpage-carousel .attachment .slide-content .slide-link a,
	.view-frontpage-carousel .attachment .slide-content .slide-body,
	.view-frontpage-carousel .attachment .slide-content .slide-body p {
		font-size:14px;
		line-height:20px;
	}
	.view-frontpage-carousel .attachment .slide-content {
		min-height:400px;
	}
}
@media (max-width: 992px) {
	.view-frontpage-carousel {
		.slider-content .slide-title-container {
			padding-top:120px;
		}
		.attachment {
			padding-top:180px;
			.view-frontpage-carousel {
				ul.slide-nav li {
					width:100%;
					.slide-content {
						padding:5px;
						min-height:80px;
						.slide-icon {
							width:52px;
							height:50px;
							margin:0px 10px 0px 0px;
							float:left;
								img {
									width:52px;
									height:101px;
									position:absolute;
									top: -25px;
								}
						}
						.slide-body,
						.slide-body p,
						.slide-quote,
						.slide-quote p{
							margin:0px;
						}
						.slide-link {
							float:none;
							position:absolute;
							top:0px;
							right:0px;
							padding:0px;
						}
						.slide-quote,
						.slide-link a,
						.slide-body,
						.slide-body p {
							font-size:14px;
							line-height:20px;
						}
					}
				}
			}
		}
	}
}
// Print
@media print {

}