/*
 * Config
*/

/*
 Variables
 ===================================================================================================
*/

// Colors
$primary-color:#df8906;
$secondary-color:#ffd89a;
$accent-color:#e08b06;
$header-bg-color:whitesmoke;
$link-color:green;


/*
 Mixins
 ===================================================================================================
*/

// Border Radius
@mixin border-radius($radius) {
	-webkit-border-radius: $radius;
	   -moz-border-radius: $radius;
	     -o-border-radius: $radius;
	    -ms-border-radius: $radius;
	        border-radius: $radius;
}


// Box Shadow
@mixin box-shadow($top, $left, $blur, $color, $inset: false) {
	@if $inset {
		-webkit-box-shadow:inset $top $left $blur $color;
		-moz-box-shadow:inset $top $left $blur $color;
		-o-box-shadow:inset $top $left $blur $color;
		-ms-box-shadow:inset $top $left $blur $color;
		box-shadow:inset $top $left $blur $color;
	} @else {
		-webkit-box-shadow: $top $left $blur $color;
		-moz-box-shadow: $top $left $blur $color;
		-o-box-shadow: $top $left $blur $color;
		-ms-box-shadow: $top $left $blur $color;
		box-shadow: $top $left $blur $color;
	}
}