/*
 * Config
*/

/*
 Variables
 ===================================================================================================
*/

// Font weights
$light: 100;
$regular: 400;
$bold: 600;

// Sans Serif Font
$sans-serif-font-family: sans-serif;
$sans-serif-font-weight: $regular;
$sans-serif-font-size: 13px;
$sans-serif-line-height: 15px;

// Fixed Font
$serif-font-family: serif;
$serif-font-size: 85%;
$serif-font-size: 13px;
$serif-line-height: 15px;

// Headings
$header-font-weight: $bold;

// Colors
$primary-color:#000;
$secondary-color:#777;
$accent-color:#999;

// Contrast Function
$alert-success-color:hsla(101, 72%, 37%, 1);
$alert-warning-color:#ffc53a;
$alert-danger-color:rgb(172, 34, 34);


@function color-contrast($color) {
  @if (lightness($color) > 50) {
    @return #000000; // Lighter background, return dark color
  } @else {
    @return #ffffff; // Darker background, return light color
  }
}


/*
 Mixins
 ===================================================================================================
*/

// Border Radius
@mixin border-radius($radius) {
	-webkit-border-radius: $radius;
	   -moz-border-radius: $radius;
	     -o-border-radius: $radius;
	    -ms-border-radius: $radius;
	        border-radius: $radius;
}


// Box Shadow
@mixin box-shadow($top, $left, $blur, $color, $inset: false) {
	@if $inset {
		-webkit-box-shadow:inset $top $left $blur $color;
		-moz-box-shadow:inset $top $left $blur $color;
		box-shadow:inset $top $left $blur $color;
	} @else {
		-webkit-box-shadow: $top $left $blur $color;
		-moz-box-shadow: $top $left $blur $color;
		box-shadow: $top $left $blur $color;
	}
}